    body {
      font-family: 'Segoe UI', sans-serif;
      scroll-behavior: smooth;
    }

    header {
      background: url('img/Imagenprinicipal.jpg') center/cover no-repeat;
      height: 300px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .navbar-custom {
      background-color: #060614d5; /* Verde oscuro */
    }

    .navbar-nav .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300; /* Semi-bold */
    font-size: 1rem;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    transition: color 0.3s ease;
  }

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #18bb1e; /* Un verde claro para hover */
}


    header h1 {
      font-size: 3rem;
      font-weight: bold;
      background-color: rgba(0, 0, 0, 0.6);
      padding: 1rem 2rem;
      border-radius: 10px;
    }

    .fade-in {
      animation: fadeIn 1.2s ease-in-out both;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(20px);
      }
      to {
        opacity: 1;
        transform: none;
      }
    }

    .whatsapp-float {
      position: fixed;
      bottom: 20px;
      right: 20px;
      font-size: 2rem;
      background-color: #2a9714b7;
      color: white;
      border-radius: 50%;
      padding: 0.5rem 0.7rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
      z-index: 1000;
      text-decoration: none;
    }

    footer {
      background-color: #333;
      color: white;
      text-align: center;
      padding: 1rem;
    }
